@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype'),
        url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------------------- */
/* Texto y botn personalizado */
.text-arabito {
    color: #eb6f22;
}
.btn-arabito {
    background-color: #eb6f22 !important;
    color: #fff;
}
.btn-arabito:hover {
    background-color: #d8641d !important;
    color: #fff;
}
.btn-agregar {
    background-color: #e14324 !important;
    color: #fff !important;
}
.btn-agregar:hover {
    background-color: #c4452c !important;
}

/* --------------------------------------------------------- */
/* Tabla */
.tr_edit {
    cursor: pointer;
}

div#table_length {
    margin: 2px 0 10px 0;
}
/* Info de registros */
div.dataTables_wrapper div.dataTables_info {
    padding-top: 1em;
    padding-bottom: .4em;
}

select.form-selected.form-select-sm:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* Botones "Anterior" y "Siguiente" */
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin-top: 10px;
}
.pagination > li > a, .pagination > li > span{
    color:#000000a4;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pagination > li > a:hover, .pagination > li > span{
    color:#000000a4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.pagination > li.active > a, .pagination:active > li.active > span:active{
    background-color:#eb6f22;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pagination > li.previous > a, .pagination > li.next > a {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pagination > li.previous:hover > a, .pagination > li.next:hover > a {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* --------------------------------------------------------- */
/* Boton Regresar */
.button-back {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.button-back:hover {
    color: #fff;
    background-color: #eb6f22;
}

.card-body select, .card-body textarea, .card-body input {
    border: 1px solid#a4a4a4;
    border-radius: 5px;
}

label {
    font-weight: 500;
}

.style-swal{
    width: 450px;
}

.user-menu:hover {
    background-color: #1c7fbd;
    transition: .6s;
}

/* --------------------------------------------------------- */
/* Hora */
.hora {
    font-size: 0.9em; 
    color: #666;
}   

/* --------------------------------------------------------- */
/* Carnet */
body { 
    font-family: 'Nunito', sans-serif; 
    margin: 0; 
    padding: 0; 
}
.carnet { 
    width: 450px;
    height: 280px;
    background-image: url('../images/fondo_carnet-recor.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #000000b1;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
#modalCargo {
    font-size: 15px;
    margin-bottom: 20px;
}
.carnet-barcode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#modalNombre {
    font-size: 28px;
    font-weight: 600;
    padding-top: 26px;
    text-transform: uppercase;
}
svg { 
    width: 100%;
    height: 140px;
}
.carnet-header {
    position: absolute;
    top: 26px;
    left: 20px;
}
.carnet-logo {
    width: 40px;
    height: 40px;
}
.carnet-logo-right {
    position: absolute;
    bottom: 20px;
    right: 22px;
    height: 50px;
}

/* --------------------------------------------------------- */
/* Modal */
.close {
    border: none;
    border-radius: 8px;
    background-color: #eb6f22;
    color: #fff;
}
.close span {
    font-size: 20px;
}